:root {
    --primary: #233c64;
    --secondary: #889CB3;
    --ternary: #3C84BB;
    --first-accent: #F4F1EB;
    --second-accent: #75C9E9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary);
    color: var(--first-accent);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    color: var(--first-accent);
    padding: 1em;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: var(--first-accent);
}

nav a.active {
    font-weight: bold;
}