:root {
    --primary: #233c64;
    --secondary: #889CB3;
    --ternary: #3C84BB;
    --first-accent: #F4F1EB;
    --second-accent: #75C9E9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary);
    color: var(--first-accent);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    color: var(--first-accent);
    padding: 1em;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
}

nav li {
    margin: 0 1em;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--first-accent);
}

nav a.active {
    font-weight: bold;
}

#breadcrumbs {
    display: flex;
}

#breadcrumbs ul{
    display: flex;
    list-style: none;
}

#breadcrumbs a {
    color: var(--first-accent);
}

#techDetails {
    text-align: justify;
}

ul {
    list-style: none;
}

.tech-list-header {
    color: var(--primary);
}

.tech-list-pic {
    object-fit: cover;
    max-width: 14em;
    max-height: 14em;
    margin: auto;
}

.tech-list-pic-bg {
    width: 15.5em;
    height: 15.5em;
    margin: -35% auto 0 auto;
    background-color: var(--secondary);
}

.card a {
    text-decoration: none;
    color: var(--first-accent);
}

.card-header, .card-body {
    background-color: var(--first-accent);
    border: none;
}

.card-footer {
    background-color: var(--first-accent);
}

.card {
    margin: 4.5em 2em;
}

.shadow {
    box-shadow: #233c64;
}